<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Exo 1 VueJS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css" />
</head>
<style>
    .main.container {
        padding-top: 50px;
        width: 70%;
    }
    .card {
        width: 300px;
        height: 350px;
        display: inline-block;
        margin: 20px;
    }
    #card1 {
        background-color: #5f97ef;
    }
    #card2 {
        background-color: #23c8dd;
    }
    #card3 {
        background-color: #27d182;
    }
    #NumberRightCard {
    }
</style>
<body>
    <div class="ui main container" id="app">
        <card id="card1" class="card" :number="1" >{{ message }}</card>
        <card id="card2" class="card" :number="2" >{{ message }}</card>
        <card id="card3" class="card" :number="3" >{{ message }}</card>
        <div v-if="success">{{ messageSuccess }}</div>
        <div v-if="!success">{{ messageError }}</div>
        <score>{{ count }}</score>
        <div v-if="successParty">{{ messageScore }}</div>
        <numberGoodCard id="NumberRightCard">{{ responseAPI }}</numberGoodCard>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>